{% extends 'PdvBundle::layout.html.twig'%}
{% block content %}
<div class="container">
      
			<center><img src="{{ asset('bundles/pdv/images/logo.png') }}" style="width:500px"></center>


</div>
{% endblock %}