{% extends 'PdvBundle::layout.html.twig' %}

{% block content -%}
    <h1>Fabricante creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fabricante') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
